@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f3f3f3;
}

/* h1, h2, h3, h4, h5, h6{  
    font-family: montserrat;
    font-weight: bold;
} */

.heading-text{
    font-size: 3rem;
    line-height: 1.5;
}

.big-heading{
    font-family: 'Montserrat'; 
    font-size: 4rem;  
    line-height: 1.5;
}

.container-fluid{
    padding: 2% 13%;
}

.bg-red{
    position: relative;
    min-height: 70vh;
    background: url('/Screenshot\ 2023-06-17\ 123532.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-pic{
    height: 200px;
}

.bg-red .wrapper{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .nav-link{
    position: relative;
    font-size: 2.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    /* overflow: hidden; */
}

.navigation .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .nav-link:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 200px;
    height: 50px;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
    margin-top: 7px;
    padding: 0px;
}

.navigation .btnLogin-popup:hover{
    background:white;
    color: black;
}

.bg-two{
    background-color: #ef8172;
}

.text-color{
    color: aliceblue;
}


.navbar-brand{
    z-index: 1;
    backdrop-filter: blur(10px);
    background: transparent;
    font-family: "ubuntu";
    font-size: 2.5rem;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 480px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.3s ease, height 0.1s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 575px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform 0.1s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.signup{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.signup{
    transition: transform 0.18s ease;
    transform: translateX(0);
    
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
    
}

.input-box label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: lem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.2s;
}
.input-box input:focus~label, 
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btnl{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-signup{
    font-size: 0.9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px 5;
    padding-top: 20px;
}

.login-signup p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-signup p a:hover{
    text-decoration: underline;
}

#reviews{
    background-color: aliceblue;
    padding: 5% 0;
    position: relative;
    z-index: 1;
}

.section-padd{
    padding: 5% 15%;
}

#t-mid{
    margin: 0;
}

#mid_section{
    color: #ef8172;
    font-size: 3rem;
    margin-bottom: 20px;
}

#mid_section:hover{
    color: #ff4c68;
}

    
.test-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    padding-bottom: 3%;
}

.press-logo{
    width: 10%;
    margin: 0 3% 2%;
}


/* MEDIA QUERY */

@media (max-width: 1390px){

    .image{
        position: static;
        transform: rotate(0);
        /* padding-left: 50px */
    }

    #title{
        text-align: center;
    }
}

@media (max-width: 1390px) and (min-width: 992px){
    .image{
        padding-left: 50px;
    }
}

@media (max-width: 1076px) and (min-width: 992px){
    h2.price-text{
        font-size: 2rem;
    }
    h3.price-head{
        font-size: 1.3rem;
    }
     button.pricing-butt{
        /* padding: 8px 0px; */
        font-size: 1rem;
     }
}

.end-section{
    margin-bottom: 5%;
}


.end-button{
    margin: 0 10px;
}

#footer{
    margin: 3%;
}

.footer-icon{
    padding: 10px;
    color: black;
}

.footer-icon:hover{
    color: #ff4c68;
}

/* ----------------MENU PAGE------------------------
---------------------------------------------------- */

.menu{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

.heading{
    background-color: #cb202d;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}

.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

h1{
    grid-column: 1/-1;
    text-align: center;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.details-sub{
    display: grid;
    grid-template-columns: auto auto;

}

.details-sub>h5{
    font-weight: 600;
    font-size: 23px;
}

.price{
    text-align: right;
}

.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.cart{
    font-weight: 600;
    margin-left: 20px;
}

.food-items .user_place_order{
    text-decoration: none;
    color: #fff;
    font-size: 20px;    
    padding: 0px;
}

.food-items .item-actions {
    text-align: left;
    margin-top: 5px;
}
  
.quantity {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin: 0 10px;
}

.food-cart {
    margin-top: 20px;
    /* left: 70%; */
    border: 5px solid #ccc;
    padding: 10px;
}
  
.food-cart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.place-order-btn{
    background-color: #cb202d;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}

.total-amount {
    position: relative;
    top: 5px;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
}