<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" href="" th:href="@{/studentStyle.css}">
    <title>SHOPS LIST</title>
</head>
<body>
    
    <div class="menu">
        <div class="heading">
            <h1>SHOPS LIST</h1>
            <h3>&mdash; All the parties to deliver you the best meals &mdash; </h3>
        </div>

        <!-- SHOPS  -->
        <div class="shop-items">
            <a href="" th:href="@{amul}">
                <img class="shop-pic" src="/amul.png" th:src="@{/images/userPageImg/amul.png}" alt="Amul Here" srcset="">
            </a>
        </div>
        <div class="shop-items">
            <a href="" th:href="@{looters}">
                <img class="shop-pic" src="/looters.png" th:src="@{/images/userPageImg/looters.png}" alt="Looters Here" srcset="">
            </a>
        </div>
        <div class="shop-items">
            <a href="" th:href="@{tott}">
                <img class="shop-pic" src="/tott.png" th:src="@{/images/userPageImg/tott.png}" alt="TOTT Here" srcset="">
            </a>
        </div>
        <div class="shop-items">
            <a href="/tott.html" th:href="@{yummpy}">
                <img class="shop-pic" src="/yummpy.png" th:src="@{/images/userPageImg/yummpy.png}" alt="YUMMPY'S Here" srcset="">
            </a>
        </div>
        <div class="shop-items">
            <a href="/yummpys.html" th:href="">
                
            </a>
        </div>
        <div class="shop-items">
            <a href="" th:href="">

            </a>
        </div>
        
    </div>

        <script src="" th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
        <script src="" th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/js/bootstrap.min.js}"></script>
    
</body>
</html>